{% extends 'base.html' %}



{% block body %}
    <h1>{{article.title}}</h1>
    <p>{{article.content}}</p>
    <br>
    
    <form action="{% url 'articles:comment_create' article_id=article.id %}" method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit">

    </form>

    <hr>
    {% for comment in article.commnet_set.all %}
        <p>{{comment.content}}</p>
        <a href="{% url 'articles:comment_delete' article_id=article.id id=comment.id %}">delete</a>
    {% endfor %}

{% endblock %}